.header {
    background: url("/assets/images/connect-header-1.png") no-repeat center center;
    background-position: cover;
    width: 100%;
    height: 50em;
    background-color: #bebebe;
    font-family: "Times New Roman", Times, serif;
}

nav {
    display:  flex;
    justify-content: space-between;
    padding: 3em;
    align-items: baseline;
}

.navbar-item {
    display: flex;
    gap: 5em;
    padding: 10px;
    align-items: baseline;
}

p {
    color: #673AB7;
    font-size: 20px;
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    color: #673AB7;
    margin-top: 2em;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    height:  50px;
}
