/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 10px 4px 3px grey; 
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #673AB7;; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #673AB7;
  }
  